# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage

.coverage